<h1>shopping cart</h1>
{{#if shoppingCart.items.length}}
	<h3>Item in the shopping cart</h3>
    <table>
        <tr><th>product Name</th><th>quantity</th><th>price</th><th>total</th></tr>
	{{#each shoppingCart.items}}
        <tr>
            <td>{{this.product.name}}</td>
            <td>{{this.qty}}</td>
            <td>{{this.price}}</td>
            <td>{{this.total}}</td>
            <td><button onclick="Controller.controllers.shoppingcart.removeProductToShoppingCart(event, {{json this}})">remove</button></td>
        </tr>
	{{/each}}
    </table>
    <label>sub-total: {{shoppingCart.subTotal}}</label>
    <label>tax: {{shoppingCart.tax}}</label>
    <label>total: {{shoppingCart.total}}</label>
	{{else}}
	<h3>no item in the shopping cart</h3>
{{/if}}